*{
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  height: 300px;
  background-color: black;
  margin: 0 auto;
  padding-top: 25px;
}

#calculator {
  margin: 0 auto;
  border: solid black 1px;
  width: 150px;
  padding: 4px;
  border-radius: 4px;
  background-color: lightgray;
}
#calculator input[type="text"] {
  text-align: center;
  width: 139px;
  height: 25px;
  margin-left: 1px;

}
#buttontable {
  position: relative;
}
 button {
  font-weight: bold;
  font-size: 15px;
  width: 32px;
  height: 32px;
  padding: 0px;
  margin: 2px 1px;
}

.rows {
  display: inline-block;
}
.btnC  {
  background-color:  #d9534f;
  color: white;
  width: 145px;
}

.numbers {
  background-color: #337ab7;
  color: white;
}

.operators {
  background-color: #5cb85c;
  color: #2e70a8;

}

.dot {
  background-color: #5bc0de;
}
